<launch>
    <!-- launch node -->
    <node pkg="rangenet_plusplus" type="pointcloud_semantic_segmentation" name="pointcloud_semantic_segmentation" output="screen">
        <!-- attention: need the "/" at the end -->
        false
        <param name="is_normalized" value="false"/>
        <param name="model_dir" value="$(find rangenet_plusplus)/darknet53/"/>
    </node>

    <!-- Run Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find rangenet_plusplus)/launch/rviz.rviz" />
</launch>